.vs/ConsoleApplication4/FileContentIndex/13235e8f-13eb-4d98-9229-22c455b2a349.vsidx
.vs/ConsoleApplication4/FileContentIndex/4ef0bcba-e6f2-4df4-bb79-64246af75c90.vsidx
.vs/ConsoleApplication4/FileContentIndex/4ef0bcba-e6f2-4df4-bb79-64246af75c90.vsidx
.vs/ConsoleApplication4/v17/.suo
.vs/ConsoleApplication4/v17/Browse.VC.db
ConsoleApplication4/x64/Debug/ConsoleApplication4.ilk
ConsoleApplication4/x64/Debug/ConsoleApplication4.obj
*.ilk
*.obj
ConsoleApplication4/x64/Debug/vc143.idb
ConsoleApplication4/x64/Debug/vc143.pdb
.vs/ConsoleApplication4/FileContentIndex/4ef0bcba-e6f2-4df4-bb79-64246af75c90.vsidx
